{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row">
    <div class="span4 offset4">
        <div class="well">
            <legend>Sign in</legend>
            <form method="POST" action="{{ urlFor('login') }}" accept-charset="UTF-8">
                <div class="row-fluid">
                    <input class="span12" value="{{ username }}" placeholder="Username" type="text" name="username" required>
                    <input class="span12" value="{{ password }}" placeholder="Password" type="password" name="password" required>
                </div>
                <button class="btn-info btn" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}