{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block content %}
<div class="well">
    <form class="form-inline m0" action="{{ urlFor('users') }}" method="POST">
        <input type="text" value="{{ username }}" name="username" placeholder="Username" class="input-xlarge" required>
        <input type="text" value="{{ password }}" name="password" placeholder="Password" class="input-xlarge" required>
        <button type="submit" class="btn btn-primary">Add user</button>
    </form>
</div>
{% if users %}
<table class="table">
    <thead>
        <th class="short">#</th>
        <th>Username</th>
        <th class="short"></th>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td class="short">{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td class="short">
                <a onclick="$('#id').val({{ user.id }});$('#user_change_password_title > span').html('{{ user.username }}')" href="#user_change_password" role="button" class="btn btn-mini" data-toggle="modal">Change password</a>
                <a href="{{ home }}users/{{ user.id }}/delete" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-mini">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="modal hide fade" id="user_change_password" tabindex="-1" role="dialog" aria-labelledby="Change user password" aria-hidden="true">
    <form action="{{ urlFor('users_change_password') }}" class="m0" method="POST">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="user_change_password_title">Change <span>user</span> password</h3>
    </div>
    <div class="modal-body">
        <input type="hidden" name="id" id="id">
        <div class="row-fluid">
            <input class="span12" type="text" name="password" id="password" placeholder="New password">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
    </div>
    </form>
</div>
{% else %}
<div class="well" style="text-align:center">No users</div>
{% endif %}
{% endblock %}